body{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;    
    box-sizing: border-box;
    flex-direction: column;
    padding-top: 5%;
}
.container{
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    margin-bottom: 5px;
}
.main-area{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



.dc{
    /* border: 1px solid green; */
}
.heading{
    width: 300px;
    display: flex;
    justify-content: center;
    font-size: 22px;
}
.icon-area i{
    font-size: 30px;
    color: black;
}
.p-5{
    margin-bottom: 5px;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.button-area{
    width: 300px;
    display: flex;
    justify-content: center;
}
.button-area button{
    margin-left: 10%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: gray;
    font-size: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.chose-area{
    width: 300px;
    display: flex;
    justify-content: flex-end;
    margin-top: 50px;
}
.open{
    margin-top: 15px;
    padding: 15px;
    border-radius: 10px;
    border: none;
    background-color: gray;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.Aze{
    margin-top: 50px;
}
.Aze, .English{
    font-size: 20px;
}
.English{
    margin-top: 15px;
}